﻿@model SportsX.Application.ViewModels.ClienteTelefoneViewModel

@{
    ViewData["Title"] = "Cadastrar cliente";
}

<h2>Cadastrar cliente</h2>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            @*<div class="form-group">
                <label asp-for="ClienteViewModel.Id" class="control-label"></label>
                <input asp-for="ClienteViewModel.Id" class="form-control" />
                <span asp-validation-for="ClienteViewModel.Id" class="text-danger"></span>
            </div>*@
            <div class="form-group">
                <label asp-for="ClienteViewModel.Nome" class="control-label"></label>
                <input asp-for="ClienteViewModel.Nome" class="form-control" />
                <span asp-validation-for="ClienteViewModel.Nome" class="text-danger"></span>
            </div>
            <div class="form-group">
                <div class="checkbox">
                    <label>
                        <input asp-for="ClienteViewModel.PessoaJuridica" /> @Html.DisplayNameFor(model => model.ClienteViewModel.PessoaJuridica)
                    </label>
                </div>
            </div>
            <div class="form-group">
                <label asp-for="ClienteViewModel.RazaoSocial" class="control-label"></label>
                <input asp-for="ClienteViewModel.RazaoSocial" class="form-control" />
                <span asp-validation-for="ClienteViewModel.RazaoSocial" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ClienteViewModel.CEP" class="control-label"></label>
                <input asp-for="ClienteViewModel.CEP" class="form-control" />
                <span asp-validation-for="ClienteViewModel.CEP" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ClienteViewModel.ClassificacaoFk" class="control-label"></label>
                @*<input asp-for="ClienteViewModel.ClassificacaoFk" class="form-control" />*@
                @Html.DropDownListFor(c => c.ClienteViewModel.ClassificacaoFk, (SelectList)ViewBag.Classificoes, "--Select--", new { @class = "form-control" })
                <span asp-validation-for="ClienteViewModel.ClassificacaoFk" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ClienteViewModel.Cpf" class="control-label"></label>
                <input asp-for="ClienteViewModel.Cpf" class="form-control" />
                <span asp-validation-for="ClienteViewModel.Cpf" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ClienteViewModel.Cnpj" class="control-label"></label>
                <input asp-for="ClienteViewModel.Cnpj" class="form-control" />
                <span asp-validation-for="ClienteViewModel.Cnpj" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ClienteViewModel.Email" class="control-label"></label>
                <input asp-for="ClienteViewModel.Email" class="form-control" />
                <span asp-validation-for="ClienteViewModel.Email" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-default" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Lista de cliente</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
