﻿@model SportsX.Application.ViewModels.TelefoneViewModel

@Html.ValidationSummary(true, "", new { @class = "text-danger" })
<div class="form-group">
    <label class='control-label col-md-2' for='Telefones'>Telefone</label><div class='col-md-10'><input type='text' 
           name='TelefonesViewModel[@Model.Index].NumeroTelefone' class='form-control text-box single-line' /></div>
</div>



