﻿@model IEnumerable<SportsX.Application.ViewModels.ClienteViewModelLista>

@{
    ViewBag.Title = "Buscar Cliente";
}


<h2>Buscar Cliente</h2>

<div class="row">

    @using (Html.BeginForm())
    {
        <div class="row">
            <div class="col-md-12">
                @Html.Label("Escolha uma opção para busca: ")

                @Html.DropDownList("opcao", (IEnumerable<SelectListItem>)ViewBag.Options, new { })
            </div>
        </div>
        <br />
        <div class="row">
            <div class="col-md-12">
                @Html.Label("Digite o termo para busca: ")
                @Html.TextBox("termo")

                <button type="submit" class="btn btn-light">Buscar</button>

            </div>

        </div>
    }

</div>

<br />
<div class="row">

    <table class="table">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Nome)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PessoaJuridica)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.RazaoSocial)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CEP)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Classificacao)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CpfECnpj)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Email)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Telefones)
            </th>
            <th></th>
        </tr>
        @if (Model != null)
        {
            foreach (var item in Model)
            {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Nome)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PessoaJuridica)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.RazaoSocial)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CEP)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Classificacao)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CpfECnpj)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Email)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Telefones)
            </td>
        </tr>
            }
        }
    </table>

</div>
